

        <div class="breadcrumbs">
          <div class="col-sm-4">
              <div class="page-header float-left">
                  <div class="page-title">
                      <h1>Anonymous Feed</h1>
                  </div>
              </div>
          </div>
          <div class="col-sm-8">
              <div class="page-header float-right">
                  <div class="page-title">
                      <ol class="breadcrumb text-right">
                          <li class="active">Anonymous Feed</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>

      <div class="content mt-3">

          <div class="col-xl-4 col-lg-4" *ngFor="let post of posts | async">
            <app-post [post]="post"></app-post>
          </div>

      </div> <!-- .content -->