

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">

            <!-- <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                    <span class="badge badge-pill badge-success">Success</span> You successfully logged in.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div> -->

            <div class="col-xl-3 col-lg-6">
                <section class="card">
                    <div class="twt-feed blue-bg">
                        <div class="corner-ribon black-ribon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="fa fa-twitter wtt-mark"></div>

                        <div class="media">
                            <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" [src]="user.photoURL">
                            </a>
                            <div class="media-body">
                                <h2 class="text-white display-6">{{ user.displayName }}</h2>
                                
                            </div>
                        </div>
                    </div>
                    <div class="weather-category twt-category">
                        <ul>
                            <li class="active">
                                <h5>{{ user.postsCount || 0 }}</h5>
                                Posts
                            </li>
                            <li>
                                <h5>{{ user.followingsCount || 0 }}</h5>
                                Following
                            </li>
                            <li>
                                <h5>{{ user.followersCount || 0 }}</h5>
                                Followers
                            </li>
                        </ul>
                    </div>
                    <div class="twt-write col-sm-12">
                        <textarea [formControl]="newPostContent" placeholder="Write your Post" rows="4" class="form-control t-text-area"></textarea>
                        <button type="submit" class="btn btn-primary float-right rounded mt-2 mx-2" (click)="post()">Post</button>
                        <button type="submit" class="btn btn-dark float-right rounded mt-2" (click)="postA()">Post Anonymously</button>
                    </div>
                    <footer class="twt-footer">
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                        India
                        <span class="pull-right">
                            32
                        </span>
                    </footer>
                </section>
            </div>


            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Posts</div>
                                <div class="stat-digit">{{ user.postsCount || 0 }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Followers</div>
                                <div class="stat-digit">{{ user.followersCount || 0 }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Following</div>
                                <div class="stat-digit">{{ user.followingsCount || 0 }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4" *ngFor="let post of posts | async">
              <app-post [post]="post"></app-post>
            </div>
            <!-- <div class="col-xl-3 col-lg-4" *ngFor="let post of posts | async">
              <div class="card">
                <div class="card-body">
                  <p class=card-text>{{post.textContent}}</p>
                  <p class="text-muted">{{post.timestamp | date}}</p>
                </div>
              </div>
            </div> -->
            

        </div> <!-- .content -->